<div class="col-sm-12 col-md-12">
	<div class="panel" ng-class="checkClass()">
		<div class="panel-heading"><h1>{{title}}</h1></div>

		<div class="panel-body">
			<p>
				<strong>Parties : </strong>
				<div ng-repeat="party in parties">
					{{party.value}} <i>{{party.key}}</i>
				</div>
			</p>

			<p>
				<strong>Exchanges : </strong>
				<div class="col-sm-12" ng-repeat="exchange in exchanges">
					<div class="col-sm-10">
						The user <strong>{{exchange.from}}</strong>
						will give the item <strong>{{exchange.what}}</strong>
						to the user <strong>{{exchange.to}}</strong>
						the <strong>{{exchange.when}}</strong>
						<strong>{{exchange.how}}</strong>
						<br>Details : {{exchange.details}}.
					</div>
				</div>
			</p><br>

			<p>
				<strong>Implementing modalities : </strong>
				<div class="table-responsive">
					<table class="table table-striped">
						<tbody>
						<tr ng-repeat="modality in impModalities">
							<td>{{modality}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</p>

			<p>
				<strong>Termination modalities : </strong>
				<div class="table-responsive">
					<table class="table table-striped">
						<tbody>
						<tr ng-repeat="modality in termModalities">
							<td>{{modality}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</p>

		</div>

		<div class="panel-footer" ng-show="contract.status=='NOWHERE'">
			<button class="btn btn-info" ng-click="sign()" type="button">Accept</button>
			<button class="btn btn-warning" ng-click="modify()" type="button">Modify</button>
			<button class="btn btn-danger" ng-click="decline()" type="button">Decline</button>
			<button class="btn btn-primary" ng-click="getPdf()" type="button">Dowload</button>
            <button class="btn btn-default" ng-click="forum()" type="button">Forum</button>
            <div ng-show="form">
                <div class="well input-group" >
                    <input type="text" class="form-control" ng-model="messageContent" placeholder="type your message here">
                    <span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="addForum(contract,messageContent)">Send</button>
			</span>
                </div>
            </div>
		</div>
		<div class="panel-footer" ng-show="contract.status=='SIGNING'">
			<p>Contract is being signed</p>
			<button class="btn btn-danger" type="button">Try cancel (might not work)</button>
		</div>
		<div class="panel-footer" ng-show="contract.status=='CANCELLED'">
			<p>CONTRACT CANCELLED</p>
		</div>
		<div class="panel-footer" ng-show="contract.status=='FINALIZED'">
			<p>CONTRACT SIGNED !</p>
		</div>
	</div></div>
